@charset "utf-8";
.all {
    padding: 0;
   
    background-color: #1E325B;
}
body {
    background-color: #0F1538;
}
.content {
    padding: 15px;
    color: #fff;
}
.jumbotron {
    background-color: #1E325B;
    color: #fff;
    padding-bottom: 20px;
}
.copyright {
    color: #fff;
    text-align: center;
    line-height: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card {
    background-color: #1E325B;
    color: #fff;
}
.card header {
    color: #fff;
}
h2 {
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 20px;
}
